body {
  background: url('/img/symphony.png');
}

/*-------------------------------------------------------------------
PAGE HEADER
---------------------------------------------------------------------*/
.coi-header .coi-layout-title {
  color: white;
  text-decoration: none;
}

/* ------------------------------------------------------------------
POSTS CARDS
-------------------------------------------------------------------- */

.coi-post-card {
    background: #fff;
    margin-bottom: 4em;
    width: 90%;
    margin: 1em auto;
}

.coi-post-card .coi-post-card-title {
  background: rgb(63,81,181);
  color: white;
}

.coi-post-card .coi-post-card-title .coi-post-card-title-link {
  color: #fff;
}

.coi-post-card .coi-post-card-title-text {
  width: 75%;
}

.coi-post-card .coi-post-card-subtitle {
  width: 25%;
  text-align: right;
  color: #fff;
}

/* --------------------------------------------------------------------
PAGINATOR
--------------------------------------------------------------------- */
.coi-paginator-bar {
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.coi-paginator-bar .coi-paginator-previous {
  text-align: left;
}

.coi-paginator-bar .coi-paginator-next {
  text-align: right;
}

/*----------------------------------------------------------------------
FULL POST
----------------------------------------------------------------------- */
.coi-post {
  background: #fff;
  margin: auto 1em;
}

.coi-post .coi-post-header {
  background: rgb(63,81,181);
  color: #fff;
  padding: 1em;
}

.coi-post .coi-post-content {
  padding: 1em;
}

.coi-post .coi-post-social-buttons {
    text-align: right;
    padding: 0.5em 1em;
}

.coi-post .coi-post-social-buttons .coi-post-social-button {
  display: inline-block;
}

.coi-disqus {
  background: #fff;
  margin: 1em;
  padding: 0.5em;
}

/* -----------------------------------------------------------------------
CODE HIGHLIGH
-------------------------------------------------------------------------- */
.highlight {
  border: solid black 1px;
  border-radius: 0.25em;
  padding: 0px 0.5em;
  overflow-x: scroll;
}
