.post-content {
    padding-left: 1em;
}

.footer {
    color: #fff;
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
}

blockquote {
    font-style: italic;
}

.highlight pre {
    font-size: 0.5em;
    font-weight: normal;
}