body {
    background: url('/img/symphony.png');
	background-attachment: fixed;
}

.post {
    background: #fff;
    margin-bottom: 4em;
	box-shadow: 0em 0em 1em #AAA;
}

.post .post-meta {
    text-align: center;
	padding: 1em 0;
}

.post .post-meta a {
    color: #000;
}

.post .post-meta .post-meta-date {
    font-style: italic;
    color: #aaa;
}

.post .post-content {
	padding-bottom: 3em;
}

.post .post-content img {
	max-width: 100%;
	height: auto;
}

blockquote {
    font-style: italic;
}

.highlight pre {
    font-size: 1em;
    font-weight: normal;
}

.disqus {
    background: #fff;
}
