.main-nav {
    display: none;
}

.about {
    display: none;
}

.post {
    page-break-after: always;
}

.post.panel-default {
    border: none;
}

.post .post-meta {
    text-align: center;
}

.post .post-social {
    display: none;
}    

.disqus {
    display: none !important;
}

.paginator-bar {
	display: none;
}
