---
layout: default
title: Circuits Of Imagination Blog
---

{% for post in paginator.posts %}
<section class="coi-post-card mdl-card mdl-shadow--2dp">
  <div class="coi-post-card-title mdl-card__title  mdl-card--border">
    <h1 class="coi-post-card-title-text mdl-card__title-text">
      {{ post.title }}
    </h1>
    <div class="coi-post-card-subtitle mdl-card__subtitle-text">
      {{ post.date | date_to_string }}
    </div>
  </div>
  <div class="coi-post-card-preview  mdl-card__supporting-text">
    {{ post.excerpt }}
  </div>
</section>
{% endfor %}

<div class="paginator-bar">
	<div class="container-fluid">
		<ul class="pager">
			{% if paginator.previous_page %}
			<li class="previous">
				<a href="{{ paginator.previous_page_path }}"><i class="fa fa-arrow-left"></i> Previous</a>
			</li>
			{% else %}
			<li class="previous disabled">
				<span>Previous</span>
			</li>
			{% endif %}

			{% if paginator.next_page %}
			<li class="next">
				<a href="{{ paginator.next_page_path }}">Next <i class="fa fa-arrow-right"></i></a>
			</li>
			{% else %}
			<li class="next disbaled">
				<span>Next</span>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
